.grid {
  width: 300px;
  height: 300px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: solid 1px rgb(52, 196, 186);
}

.invader {
  background-color: rgb(118, 16, 124);
  border-radius: 10px;
}

.shooter {
  background-color: rgb(4, 9, 4);
}

.laser {
  background-color: rgb(195, 32, 32);
}

.boom {
  background-color: rgb(255, 240, 196);
}
