.grid {
  width: 300px;
  height: 300px;
  border: solid 1px rgb(81, 78, 78);
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: solid 1px rgb(3, 3, 3);
}

.invader {
  background-color: rgb(219, 42, 228);
  border-radius: 10px;
}

.shooter {
  background-color: rgb(60, 27, 192);
}

.laser {
  background-color: rgb(195, 32, 32);
}

.boom {
  background-color: rgb(223, 173, 22);
}
